@keyframes scrolling-text {
    0% {
        transform: translateX(-100rem);
        opacity:0.9;
        transform-origin: left;
    }
    10% {
        transform: translateX(4rem);
        transform-origin: left;
    }
    20% {
        transform: translateX(-4rem);
        transform-origin: left;
    }
    30%, 80% {
        transform: translateX(0);
    }
    99%{
        opacity: 1;
    }
    100% {
        transform:translateX(100rem);
        transform-origin: left;
        opacity:0;
    }    
}

@keyframes loader-vanish {
    0%,99% {
        opacity: 1;
        z-index: 2;
    }
    99.5% {
        opacity: 0.8;
        z-index: 2;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes hourglass-start {
    0%, 90%{
        opacity: 1;
    }
    0%{
        transform: scale(3);
    }
    5%{
        transform: scale(1);
    }
    100% { 
        opacity: 0;
    }
}

@keyframes hourglass {
    0%, 90%{ 
        opacity: 1; 
    }
    100% { 
        opacity: 0;
    }
}

@keyframes hourglass-end {
    0%{
        opacity: 1;
        transform: scale(1)
    }
    80%{
        transform:rotate(-180deg) scale(1);
        opacity: 1;
    }

    95%{
        transform: rotate(-180deg) scale(1.2);
        opacity:1;

    }
    100%{
        opacity: 0;
        transform: rotate(-180deg) scale(0);
    }
}

@keyframes fadein-out {
    0%{
        opacity:0;
    }
    25%, 75%{
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@keyframes fadein {
    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}