@-webkit-keyframes scrolling-text {
  0% {
    -webkit-transform: translateX(-100rem);
            transform: translateX(-100rem);
    opacity: 0.9;
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  10% {
    -webkit-transform: translateX(4rem);
            transform: translateX(4rem);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  20% {
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  30%, 80% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  99% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100rem);
            transform: translateX(100rem);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
}

@keyframes scrolling-text {
  0% {
    -webkit-transform: translateX(-100rem);
            transform: translateX(-100rem);
    opacity: 0.9;
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  10% {
    -webkit-transform: translateX(4rem);
            transform: translateX(4rem);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  20% {
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  30%, 80% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  99% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100rem);
            transform: translateX(100rem);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
}

@-webkit-keyframes loader-vanish {
  0%, 99% {
    opacity: 1;
    z-index: 2;
  }
  99.5% {
    opacity: 0.8;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes loader-vanish {
  0%, 99% {
    opacity: 1;
    z-index: 2;
  }
  99.5% {
    opacity: 0.8;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes hourglass-start {
  0%, 90% {
    opacity: 1;
  }
  0% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  5% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}

@keyframes hourglass-start {
  0%, 90% {
    opacity: 1;
  }
  0% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  5% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes hourglass {
  0%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hourglass {
  0%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes hourglass-end {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: rotate(-180deg) scale(1);
            transform: rotate(-180deg) scale(1);
    opacity: 1;
  }
  95% {
    -webkit-transform: rotate(-180deg) scale(1.2);
            transform: rotate(-180deg) scale(1.2);
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-180deg) scale(0);
            transform: rotate(-180deg) scale(0);
  }
}

@keyframes hourglass-end {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: rotate(-180deg) scale(1);
            transform: rotate(-180deg) scale(1);
    opacity: 1;
  }
  95% {
    -webkit-transform: rotate(-180deg) scale(1.2);
            transform: rotate(-180deg) scale(1.2);
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-180deg) scale(0);
            transform: rotate(-180deg) scale(0);
  }
}

@-webkit-keyframes fadein-out {
  0% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein-out {
  0% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=animations.css.map */