@-webkit-keyframes scrolling-text {
  0% {
    -webkit-transform: translateX(-100rem);
            transform: translateX(-100rem);
    opacity: 0.9;
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  20%, 80% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  99% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100rem);
            transform: translateX(100rem);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
}

@keyframes scrolling-text {
  0% {
    -webkit-transform: translateX(-100rem);
            transform: translateX(-100rem);
    opacity: 0.9;
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  20%, 80% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  99% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100rem);
            transform: translateX(100rem);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
}

@-webkit-keyframes loader-vanish {
  0%, 99% {
    opacity: 1;
    z-index: 2;
  }
  99.5% {
    opacity: 0.8;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes loader-vanish {
  0%, 99% {
    opacity: 1;
    z-index: 2;
  }
  99.5% {
    opacity: 0.8;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes fadein-out {
  0% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein-out {
  0% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes ball-left {
  25% {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes ball-left {
  25% {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes ball-right {
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes ball-right {
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=animations.css.map */