$title:4rem;
$sub-title: 3rem;
$big-element:2rem;
$text:1.5rem;
$sub-text:1.2rem;

h1{
    font-size:$title;
}

h3{
    font-size: $text;
}

p{
    font-size: $sub-text;
}

select{
    font-size: $big-element;
}

.localisation__logo{
    font-size: $big-element;
}

.presentation__title{
    font-size: $big-element;
}

.presentation__text{
    font-size: $text;
}

.presentation__btn{
    font-size: $text;
}

.section__title{
    font-size: $big-element;
}

#fonctionnement__steps{
    flex-direction: row;
    justify-content: space-evenly;
}


.fonctionnement__card{
    width: 30%;
    min-height: 4.5rem;
    padding:0.5rem 0rem 0.5em 0rem;
    .fonctionnement__card_title{
        padding: 0rem 1rem 0rem 1rem;
    }
    .fonctionnement__card_step_number{
        margin:0;
        padding:0.45rem 0.8rem 0.4rem 0.7rem;
    }
    h3{
        font-size: $sub-text;
    }
}

.restaurants__card_link{
    margin-bottom: 5rem;
}

.restaurants__card_txt{
    p{
        font-size: $text;
    }
}

.like_btn{
    font-size: $text;
}


footer{
    flex-direction: row;
}

h5{
    font-size: $title;
    margin-bottom: 6rem;
    text-align: center;
}

.footer__container{
    flex-direction: row;
    justify-content: space-around;
    margin-left: -3rem;
}

.footer__links{
    font-size: $text;
}

.footer__bloc{
    flex-direction: column;
    margin-bottom: 2rem;
    a{
        margin-bottom: 2rem;
    }
}


/* pages de menus*/

.return_home{
    font-size: $title;
}

#banniere{
    .banniere__img{
        height: 18rem;
    }
    h6{
        font-size: $sub-title;
    }
    .like_btn_menu{
        font-size: $big-element;
    }
}

#menu{
    .menu__title{
        font-size: $big-element;
    }
    .menu__underline{
        width: $title;
    }
    .meal__title{
        font-size: $text;
    }
    .meal__description{
        font-size: $text;
    }
    p{
        font-size: $text;
    }
    .meal__selected{
        font-size: $big-element;
    }
}

.command__btn{
    font-size: $big-element;
}