$primary:#9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$dark-background: rgb(234,234,234);
$light-background: #f6f6f6;
$btn_color: linear-gradient(358deg, rgba(147,86,220,1) 0%, rgba(173,94,220,1) 23%, rgba(185,98,220,1) 42%, rgba(255,121,218,1) 100%);
$btn_color_active: linear-gradient(358deg, rgba(147,86,220,1) 0%, rgba(173,94,220,1) 10%, rgba(185,98,220,1) 21%, rgba(255,121,218,1) 100%);
$shadow-btn: 0rem 0.5rem 2rem 0.2rem rgba(0, 0, 0, 0.5);