/* FOOTER */
footer{
    padding: 2rem 0rem 2.5rem 1.5rem;
    color:white;
    background: rgb(53,53,53);   
}

.footer__container{
    display: flex;
    flex-direction: column;
}

h5{
    font-family: 'Shrikhand', cursive;
    margin-top: 0rem;
    font-size: 1.2rem;
    font-weight: 100;
}

.footer__bloc {
    display: flex;
    flex-direction: column;
}

.strong_links{
    font-weight: 400;
}

.weak_links{
    font-weight: 300;
}

.footer__links{
    text-decoration: none;
    color: white;
    margin-bottom: 0.8rem;
    font-size: 1rem;
}

.footer__logo{
    margin-right: .6rem;
}

.footer__logo_var{
    font-size: 0.8rem;
    margin-right: .4rem;
}