/*Présentation des différents restaurants - page d'accueil */

#restaurants{
    display: flex;
    flex-direction: column;
    background: $light-background;
    padding-bottom: 3rem;
}

.main_title{
    margin-left: 1rem;
}

.restaurants__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    &_link{
        display: flex;
        flex-direction: column;
        position: relative;
        text-decoration: none;
        color:black;
        max-width: 90vw;
        max-height: 14rem;
        margin-bottom: 3.5rem;
        transition: 100ms;
        &:hover{
            transform:scale(1.01);
        }
    }
    &_img_container{
        display: flex;
        width: 90vw;
    }
    &_img{
        object-fit:cover;
        width: 100%;
        max-height: 11.5rem;
        border-radius: 1rem 1rem 0rem 0rem;
        z-index: 0;
    }
    &_description{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem 1.5rem 1rem 0.8rem;
        background: white;
        flex-grow: 1;
        flex-shrink: 1;
        border-radius: 0 0 1rem 1rem;
        box-shadow: 0px 3px 20px -2px rgba(0,0,0,0.4);
        font-size: 1rem;
        z-index: 0;
    }
    &_txt_title{
        margin-bottom: 0.2rem;
    }
}

.restaurants__new{
    background: $tertiary;
    font-size: 0.9rem;
    font-weight: 600;
    position: absolute;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    border-radius: 0.1rem;
    top: 0.8rem;
    right: 0.8rem;
    color: darken($tertiary, 40%);
    z-index: 1;
}